<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.datarecorder">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="portrait">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <activity android:name=".AddMeterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MeterDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".StatsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BatchRecordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".RecordDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".DataManageActivity" android:screenOrientation="portrait"/>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>